<div class='list-group list-group-flush pt-4'>
  <%= link_to 'Закази', orders_path, class: 'list-group-item link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
  <%= link_to 'Весь товар', products_path, class: 'list-group-item link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
  <%= link_to 'Клієнти', users_path, class: 'list-group-item link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
  <%= link_to 'Создать категорію', new_category_path, class: 'list-group-item link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
  <%= link_to 'Создать товар', new_product_path, class: 'list-group-item link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %> 
</div>