<nav class="navbar shadow-lg navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
      <a class="navbar-brand" href="http://localhost:3000/">MiwaWb</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:3000/">Home</a>
          </li>
          <% if user_signed_in?%>
               <a class="nav-link active"><%= current_user.email %></a>
                <%= link_to 'Вийти', destroy_user_session_path, class: "nav-link active", 
                  data: { turbo_method: "delete" } %>
          <% else %>
           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Аккаунт</a>
            <ul class="dropdown-menu">
              <%= link_to 'Увійти', user_session_path, class: "dropdown-item" %>
              <%= link_to 'Зареєструватись', new_user_registration_path, class: "dropdown-item" %>
            </ul>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <%= link_to 'New product', new_product_path, class: "dropdown-item" %>
             <%= link_to 'New category', new_category_path, class: "dropdown-item" %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>