<div class='conteiner text-center'>
   <div class='position-absolute top-50 start-50 translate-middle'>
   <%= render 'shared/errors', object: @product %>
  <%= form_with model: @product do |form| %>
    <div>
      <%= form.label :name, class:'form-label' %><br>
      <%= form.text_field :name, class:'form-control'%>
    </div>

    <div>
      <%= form.label :description, class:'form-label' %><br>
      <%= form.text_area :description, class:'form-control'%>
    </div>

    <div>
      <%= form.label :price, class:'form-label' %><br>
      <%= form.text_field :price, class:'form-control'%>
    </div>

    <div>
      <%= form.label :image, class:'form-label' %><br>
      <%= form.text_field :image, class:'form-control'%>
    </div>
      <%= form.label :get_category, class:'form-label' %>
      <%= form.collection_select :category_id, Category.all, :id, :name %>
    <div>
      <%= form.submit class:'btn btn-primary'%>
    </div>
  <% end %>
  </div>
</div>