
<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name%><br>
    <%= form.text_field :name%>
  </div>

  <div>
    <%= form.label :description%><br>
    <%= form.text_area :description%>
  </div>

  <div>
    <%= form.label :price%><br>
    <%= form.text_field :price%>
  </div>

  <div>
    <%= form.label :image_tag%><br>
    <%= form.text_field :image_tag%>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>