<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= sort_link(@q, :name, 'Name')%></th>
      <th scope="col">description</th>
      <th scope="col"><%= sort_link(@q, :price, 'Price')%></th>
      <th scope="col">image.present?</th>
      <th scope="col"><%= link_to 'category', categories_path, class: 'text-dark' %></th>
    </tr>
  </thead>
  <% @products.each do |p| %>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row"><%= p.id %></th>
        <td><%= p.name %></td>б 
        <td><%= p.description %></td>
        <td><%= number_to_currency(p.price, precision: 2) %></td>
        <td><%= p.image.present?%></td>
        <td><%= p.category.name %></td>
        <td>
          <div class="btn-group btn-group-sm">
          <%= link_to 'edit', edit_product_path(p), class: 'btn btn-outline-success' %>
          <%= link_to 'Destroy', product_path(p), class: 'btn btn-danger', data: { turbo_method: "delete" }%>
          </div>
        </td>
      </tr>
  <% end %>

<%= search_form_for @q, url: products_path do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_or_description_cont_any %>

  <%= f.submit %>
  <%= link_to "Clear", request.path, class: "btn btn-default" %>
<% end %>

  <%= link_to 'Add Category', new_category_path %> |
  <%= link_to ' Add Product', new_product_path %>